node_modules
dist
dist-ssr
*.local
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.log
coverage
*.tsbuildinfo

public/pdf-cmaps/
public/pdf-fonts/
playwright-report/
test-results/

.pages-artifact/
